@import "../../variables";
@import "@material/dialog/mdc-dialog";

.dialog-body {
    font-family: Arial, "sans-serif";
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
    text-align: left !important;
    text-transform: none;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $pocket-dragon-font;
        text-transform: uppercase;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
        margin-top: 2em;
    }

    h3 {
        font-size: 1.25em;
        margin-top: 2em;
    }

    app-collapsible-section h2 {
        margin-top: 1em;
    }
}

img.promo {
    max-height: calc(100vh - 12rem);
    max-width: 100%;
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
