dist/
dist-offline/

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
coverage/
playwright-report/
playwright-report-visual/
playwright-report-offline/
playwright-report-visual-offline/
test-results/
