@import "../../variables";
@import "@material/button/mdc-button";

$color-disabled-background: rgba(0, 0, 0, 0.12);

:host {
    display: inline-block;
}

:host([disabled]) {
    pointer-events: none;
}

button {
    border: 0 !important;
    position: relative;
    width: 100%;
    padding: 4px 18px !important;
    height: 44px !important;

    > .label {
        color: inherit;
        position: relative;
        z-index: 1;
    }

    > .background {
        color: white;
        position: absolute;

        bottom: 4px;
        left: 4px;
        right: 4px;
        top: 4px;

        > svg {
            display: block;
            fill: transparent;
            height: 100%;
            left: 0;
            position: absolute;
            stroke-width: 0;
            stroke: transparent;
            top: 0;
            width: 100%;
        }
    }

    &.green:not(:disabled) {
        color: $green-color;
    }
    &.yellow:not(:disabled) {
        color: $yellow-color;
    }
    &.red:not(:disabled) {
        color: $red-color;
    }

    &[disabled] {
        > .label {
            color: inherit !important;
        }
        > .background {
            color: white !important;
        }
    }

    &.mdc-button--raised {
        background-color: white !important;
        box-shadow: none !important;

        &:not(:disabled) > .label {
            color: white;
        }

        > .background {
            color: $mdc-theme-primary;

            > svg {
                overflow: visible;
                stroke: transparent;
                stroke-width: 0;
                fill: currentColor;

                > path {
                    filter: url(#shadow);
                }
            }
        }

        &.green {
            > .background {
                color: $green-color;
            }
        }
        &.yellow {
            > .background {
                color: $yellow-color;
            }
        }
        &.red {
            > .background {
                color: $red-color;
            }
        }

        &[disabled] {
            > .background {
                color: $color-disabled-background !important;

                > svg {
                    > path {
                        filter: none;
                    }
                }
            }
        }
    }

    &.mdc-button--outlined {
        > .background {
            color: $mdc-theme-primary;
            bottom: 5px;
            left: 6px;
            right: 6px;
            top: 5px;

            > svg {
                overflow: visible;
                stroke: currentColor;
                stroke-width: 2;
            }
        }

        &.green {
            > .background {
                color: $green-color;
            }
        }
        &.yellow {
            > .background {
                color: $yellow-color;
            }
        }
        &.red {
            > .background {
                color: $red-color;
            }
        }

        &[disabled] {
            > .background {
                color: inherit !important;
            }
        }
    }
}
