/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
    font-family: 'cartoons_123regular';
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

p {
    margin-bottom: 0.8em;
    margin-top: 0.8em;
}
