@import "@material/dialog/mdc-dialog";
@import "@material/button/mdc-button";

.app-home {
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 66px;
}

.warning {
    color: red;
}

.difficulty-controls,
.game-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    margin-top: 1em;

    button {
        width: 30%;
    }
}
