$blue-color: #2f9cd7;
$green-color: #48bc9d;
$grey-color: #b2b3b4;
$red-color: #f3847e;
$yellow-color: #e8b63d;

$mdc-typography-font-family: "cartoons_123regular";
$mdc-theme-primary: $blue-color;
$mdc-theme-secondary: $yellow-color;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #000000;
